:root {
  --light-green: #D3EED4;
  --dark-green: #26413C;
  --dark: #1A1D1A;
  --light: #F8F3F2;

  --color-bg: var(--dark);
  --color-text: var(--light);
  --color-border: var(--light-green);
  --color-action-bg: var(--dark-green);
  --color-action-text: var(--light-green);
  --color-action-hover-bg: var(--light-green);
  --color-action-hover-text: var(--dark-green);
}
