@use "colors";
@use "spacings";

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: url('../fonts/FiraSansCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Fira Sans Condensed';
  src: url('../fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
}

html,
body,
button,
input,
textarea,
select {
  font-family: 'Fira Sans Condensed', ui-sans-serif, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}
